@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: 'flex';
  height: '100vh';
  max-width: '500px';
  margin: '0 auto';
  padding: '0 20px'; 
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.calendar {
  border: 1px solid #e2e8f0;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.calendar span {
  @apply inline-block w-8 h-8 leading-8 text-center m-1 rounded-full;
  display: block;
  text-align: center;
  padding: 10px 0;
}